*{
  margin: 0;
  padding: 5px;
}

button{
  margin: 10px 200px;
}

.col-12{
  text-align: center;
}

.form-label{
  font-size: 20px;
}

h1{
  text-align: center;
}

body{
  background-color: rgb(243, 242, 242);
}

img{
  height: 30px;
  width: 20px;
}